//var idNum = document.getElementsByClassName('id').length
//var lastInput = document.getElementsByClassName('id')[idNum-1]
//var numLastInput = lastInput.innerText

$("#tablebody").append("<td class=id><%=@email.id%></td><td><%=@email.subject%></td>");